# Compiled Object files
*.o
*.obj

# Executable files (Compiled binary)
*.exe
*.out
*.app

# Dynamic Libraries
*.so
*.dylib
*.dll

# IDE and Editor specific files
.vscode/
.idea/
*.swp
*~

# Operating System files
.DS_Store
Thumbs.db

# Output / Log files
*.log